<div class="comments-header">
    <h3 class="title">Comments</h3>
    {% if comment_list|length|get_digit:"-1" > 0 %}
        <span class="length">( {{ comment_list|length }} )</span>
    {% endif %}
</div>
<form id="comment" method="POST">
    {% csrf_token %}
    <div class="wrapper">
        <img class="avatar" src="{{ user.avatar.url }}"/>
        <div class="textarea">{{ form.text }}</div>
        <input type="submit" value="전송" />
        <div class="error">{{ form.text.errors|striptags }}</div>
    </div>
</form>
<div class="comment-list">
    {% for comment in comment_list %}
        <div class="comment">
            <img class="avatar" src="{{ comment.author.avatar.url }}"/>
            <div class="comment-header">
                <div class="nickname">{{ comment.author.nickname }}</div>
                <div class="date">{{ comment.created_date }}</div>
                <div class="comment-text">{{ comment.text|linebreaks }}</div>
            </div>
        </div>
    {% empty %}
        <p>리뷰가 없습니다</p>
    {% endfor %}
</div>
<button class="comment-more" data-pagination="">댓글 더보기</button>
{% include '_pagination.html' %}
