<div class="join-container">
    <h4>참여</h4>
    {% for user in meetup.join_users.all %}
        <div class="chip">
            <img src="{{ user.avatar.url }}" alt="Contact Person">
            {{ user.nickname }}
        </div>
    {% empty %}
        <p>1등으로 참여해보세요!</p>
    {% endfor %}
</div>
<div class="likes-container">
    <h4>관심</h4>
    {% for user in meetup.like_users.all %}
        <div class="chip">
            <img src="{{ user.avatar.url }}" alt="Contact Person">
            {{ user.nickname }}
        </div>
    {% empty %}
        <p>관심이 가면 하트를 눌러주세요<3</p>
    {% endfor %}
</div>