{% extends 'base.html' %}
{% block content %}
    <h1>밋업 서치 리스트</h1>
    <div class="row">
        <div class="col s12">
            <form action="" method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
            {% if filter %}
                <p>Found {{ filter|length }} book{{ filter|pluralize }}.</p>
                <ul>
                    {% for meetup in filter %}
                        <li>{{ meetup.title }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No books matched your search criteria.</p>
            {% endif %}
        </div>
    </div>
    {% include '_pagination.html' %}
{% endblock %}