{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    hoco 디테일
    <img src='{{ meetup.image_file.url }}'>
    <div class="meetup-detail">
        <ul>
            <li>주최자: {{ meetup.author }}</li>
            <li>제목: {{ meetup.title }}</li>
            <li>설명: {{ meetup.desc }}</li>
            <li>장소:
                <div class="map_wrap">
                    <div id="map" style="width:750px;height:350px;position:relative;overflow:hidden;"></div>

                    <div id="menu_wrap" class="bg_white">
                        <div class="option">
                            <p>
                            <form onsubmit="searchPlaces(); return false;">
                                키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15">
                                <button type="submit">검색하기</button>
                            </p>
                        </div>
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="likes-container">
        <button><a href="{% url 'meetup_like' meetup.id %}">관심 버튼</a></button>
        관심자 목록: {{ meetup.likes.all }}
        {% for like in meetup.likes.all %}
            <p>{{ like.nickname }}</p>
        {% empty %}
            <p>노관심</p>
        {% endfor %}
    </div>
    <div class="comments-container">
        <div class="add-comments">
            <h3>댓글 달기</h3>
            <img src="{{ user.avatar.url }}"/>{{ user.nickname }}
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ cmtForm.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
            </form>
        </div>
        {% for comment in meetup.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>댓글이 없습니다</p>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=c0560d4dbb9c299defdcf21de8cab125&libraries=services"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}