{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    hoco 디테일
    <img src='{{ meetup.image_url }}'>
    <div class="meetup-detail">
        <ul>
            <li>주최자: {{ meetup.author }}</li>
            <li>제목: {{ meetup.title }}</li>
            <li>설명: {{ meetup.desc }}</li>
            <li>태그:
                {% for tag in meetup.tags.all %}
                    <p>{{ tag.title }}</p>
                {% empty %}
                    <p>태그 없음</p>
                {% endfor %}
            </li>
            <li>장소: {{ meetup.location }}
                {% if meetup.lat %}
                    <div id="map" data-lat="{{ meetup.lat }}" data-lon="{{ meetup.lon }}" data-location="{{ meetup.location }}"></div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="likes-container">
        <button><a href="{% url 'meetup_like' meetup.id %}">관심 버튼</a></button>
        관심자 목록: {{ meetup.likes.all }}
        {% for like in meetup.likes.all %}
            <p>{{ like.nickname }}</p>
        {% empty %}
            <p>노관심</p>
        {% endfor %}
    </div>
    <div class="comments-container">
        <div class="add-comments">
            <h3>댓글 달기</h3>
            <img src="{{ user.avatar.url }}"/>{{ user.nickname }}
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ cmtForm.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
            </form>
        </div>
        {% for comment in meetup.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% empty %}
            <p>댓글이 없습니다</p>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=c0560d4dbb9c299defdcf21de8cab125"></script>
    <script src="{% static 'js/meetup.js' %}"></script>
{% endblock %}