{% extends 'base.html' %}
{% block header-image %}{% endblock %}
{% block header-title %}회원가입{% endblock %}
{% block content %}
    <h4>소셜 계정으로 바로 가입</h4>
    <div class="btn-large fb-connect">
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><span>f</span>페이스북으로 회원가입</a>
    </div>
    <h4>이메일로 가입</h4>
    <form id="signup" class="form-horizontal" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ signupform.username }}
        {{ signupform.username.errors|striptags }}

        {{ signupform.email }}
        {{ signupform.email.errors|striptags }}

        {{ signupform.nickname }}
        {{ signupform.nickname.errors|striptags }}

        {{ signupform.avatar }}
        {{ signupform.avatar.errors|striptags }}

        {{ signupform.password1 }}
        {{ signupform.password1.errors|striptags }}

        {{ signupform.password2 }}
        {{ signupform.password2.errors|striptags }}
        <button id="signup" name="signup" class="btn-large btn-block btn-default" type="submit">가입하기</button>
    </form>
    이미 계정이 있으신 분은 <a href="{% url 'login' %}">로그인</a> 해주세요.

{% endblock %}
