.fb-connect {
  background: #3b5998;
  color: white;
  cursor: pointer;
  text-transform: none;
  width: 15rem;

  &:hover {
    background: #3f5277;
  }
  a {
    color: white;
    span {
      font-weight: 500;
      margin-right: 0.3rem;
    }
  }
}
